$image-logo: './assets/wolox_logo_white.svg';

.footer {
  background-color: $blue;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  padding: 20px;

  .footer-slogan {
    font-size: 15px;
    color: $white;
    margin-bottom: 20px;
  }

  .footer-img {
    background-image: url($image-logo);
    background-repeat: no-repeat;
    margin-bottom: 20px;
    object-fit: contain;
    padding: 30px;
    width: 400px;
  }

  .footer-copyright {
    align-self: flex-end;
    color: $white;
    font-size: 11px;
    font-weight: 100;
  }
}
