.navbar {
  list-style-type: none;
  margin-bottom: 10px ;
  overflow: hidden;
  background-color: blue;
  position: fixed;
  top: 0;
  width: 100%;

  .navbar-li {
    float: left;
  }

  .navbar-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar-li a:hover:not(.active) {
    background-color: #111;
  }

  .active {
    background-color: #4caf50;
  }
}
