.container {
  max-width: 1200px;
  width: 100%;
  margin: 90px auto 0;
  padding: 20px;
}

.tech {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 280px;
  padding: 90px;
  position: relative;

  .tech-img {
    height: 70px;
    margin-bottom: 30px;
    object-fit: contain;
    width: 80px;
  }

  .tech-title {
    margin-bottom: 10px;
  }

  .tech-release-date {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .tech-text {
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .tech {
    border-bottom: 2px solid $green;
  }
}
