$color: #b2db59;
$urlImagen: "./assets/react_icon.svg";

.tech {
  border: 1px solid $color;
  height: 300px;
  border-radius: 10px;
  padding: 6px;
  position: relative;
  width: 200px;
}

.content-tech {
  align-items: center;
  background-color: $color;
  border-radius: 10px;
  display: flex;
  flex-flow: column wrap;
  height: 300px;
  justify-content: space-around;
  width: 200px;
  background-clip: padding-box;

  .img {
    background-image: url($urlImagen);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
    padding: 35px;
    width: 80px;
  }

  .h2 {
    margin-top: -40px;
  }

  .h3 {
    font-weight: bold;
    margin-top: -50px;
  }

  .text {
    justify-self: flex-end;
    font-family: sans-serif, "Times New Roman", Times, serif;
    text-align: center;
    margin-bottom: 15px;
    margin-top: -40px;
  }
}
