.tech {
  align-items: center;
  background-color: $colorTech;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start ;
  margin: 20px;
  min-height: 280px;
  padding: 6px;
  position: relative;
  width: 200px;

  &::before {
    bottom: 10px;
    border: 1px solid $colorTech;
    border-radius: 10px;
    content: '';
    left: -10px;
    position: absolute;
    right: 10px;
    top: -10px;
    z-index: -1;
  }

  .tech-img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
    width: 80px;
  }

  .tech-title {
    margin: 0;
  }

  .tech-release-date {
    font-weight: bold;
  }

  .tech-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    text-align: center;
  }
}
