$urlImagen: "./assets/triangle.svg";

.front-end{
  background-image: url($urlImagen);
  background-repeat: no-repeat;
  margin: 50px 0 0 100px;
  padding: 45px 62px 65px;
  position: relative;

  .text {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    position: absolute;
  }

}
