$urlImagen: "./assets/triangle.svg";

.titulo {

  .img{
    background-image: url("./assets/triangle.svg");  
    height: 80px;
    width: 50px; 
  }

  .text {
    font-family: "Times New Roman", Times, serif;
  }

}
